<div class="auth-container">
  <ng-container *ngIf="isAuthenticated$ | async; else loginTemplate">
    <span class="welcome-text">Welcome {{(currentUser$ | async)?.firstName}} {{(currentUser$ | async)?.lastName}}</span>
    <button mat-raised-button color="primary" matTooltip="Logout" (click)="logout()">
      Logout
    </button>
  </ng-container>

  <ng-template #loginTemplate>
    <button mat-raised-button color="primary" matTooltip="Login" (click)="login()">
      Login
    </button>
  </ng-template>
</div>
