.auth-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.welcome-text {
  font-size: 14px;
  color: white;
}

.material-icons {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 4px;
}
